/* variables */

$font-base: 16px;
$font-color-base: #blue;
$font-family-base: sans-serif;
$color-base: #ebebeb 

/* base */
html{
   font-family: sans-serif;
   font-style: italic;
}

body{
  display: flex;
  justify-content: center;
}

/* layouts */

.container{
  display: grid;
  grid-template: {
    column: 1fr;
    rows: repeat (3,1fr);
  };
  background-color: $color-base;
}

.header{
  &__menu{
    display: flex;
    justify-content: space-between;
  }
  &__banner{
    grid-column: 1/2;
    grid-row: 2/3;
  }
}

.main{

}

.footer{

}